## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import Google_API_Key

# Configure gmaps API key
gmaps.configure(api_key=Google_API_Key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_id,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Busselton,AU,-33.6500,115.3333,58.03,76,71,19.62,broken clouds
1,1,Buala,SB,-8.1450,159.5921,79.70,82,5,8.77,clear sky
2,2,Kedrovyy,RU,56.1667,91.8167,68.41,97,42,4.47,scattered clouds
3,3,Avarua,CK,-21.2078,-159.7750,73.45,68,20,6.91,few clouds
4,4,Castro,BR,-24.7911,-50.0119,70.21,38,0,6.06,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_id,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Buala,SB,-8.1450,159.5921,79.70,82,5,8.77,clear sky
6,6,Albany,US,42.6001,-73.9662,83.26,52,61,1.16,broken clouds
7,7,Atuona,PF,-9.8000,-139.0333,75.79,80,26,12.28,light rain
9,9,Nakamura,JP,32.9833,132.9333,77.29,97,96,3.22,overcast clouds
17,17,Vaini,TO,-21.2000,-175.2000,75.36,100,75,4.61,broken clouds
21,21,Puerto Del Rosario,ES,28.5004,-13.8627,76.75,78,20,18.41,few clouds
24,24,Kerman,IR,30.2832,57.0788,76.86,61,75,6.91,broken clouds
27,27,Saint George,US,37.1041,-113.5841,88.63,49,0,3.44,clear sky
29,29,Galle,LK,6.0367,80.2170,79.00,86,100,16.02,moderate rain
33,33,Faanui,PF,-16.4833,-151.7500,77.81,74,1,24.79,light rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_id                284
City                   284
Country                284
Lat                    284
Lng                    284
Max Temp               284
Humidity               284
Cloudiness             284
Wind Speed             284
Current Description    284
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_id,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Buala,SB,-8.1450,159.5921,79.70,82,5,8.77,clear sky
6,6,Albany,US,42.6001,-73.9662,83.26,52,61,1.16,broken clouds
7,7,Atuona,PF,-9.8000,-139.0333,75.79,80,26,12.28,light rain
9,9,Nakamura,JP,32.9833,132.9333,77.29,97,96,3.22,overcast clouds
17,17,Vaini,TO,-21.2000,-175.2000,75.36,100,75,4.61,broken clouds
...,...,...,...,...,...,...,...,...,...,...
681,681,Hami,CN,42.8000,93.4500,84.33,27,50,5.12,scattered clouds
683,683,San Severo,IT,41.6897,15.3760,85.60,42,0,6.62,clear sky
686,686,Foix,FR,42.8333,1.5833,79.77,51,16,3.38,few clouds
688,688,Pemangkat,ID,1.1667,108.9667,76.42,86,97,3.49,overcast clouds
689,689,Biltine,TD,14.5333,20.9167,83.48,61,88,1.63,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Buala,SB,79.70,clear sky,-8.1450,159.5921,
6,Albany,US,83.26,broken clouds,42.6001,-73.9662,
7,Atuona,PF,75.79,light rain,-9.8000,-139.0333,
9,Nakamura,JP,77.29,overcast clouds,32.9833,132.9333,
17,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,
21,Puerto Del Rosario,ES,76.75,few clouds,28.5004,-13.8627,
24,Kerman,IR,76.86,broken clouds,30.2832,57.0788,
27,Saint George,US,88.63,clear sky,37.1041,-113.5841,
29,Galle,LK,79.00,moderate rain,6.0367,80.2170,
33,Faanui,PF,77.81,light rain,-16.4833,-151.7500,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": Google_API_Key
}

# 6b. Iterate through the hotel DataFrame.
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
   
    # 6c. Get latitude and longitude from DataFrame
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Buala,SB,79.70,clear sky,-8.1450,159.5921,Maringe Lagoon Lodge
6,Albany,US,83.26,broken clouds,42.6001,-73.9662,
7,Atuona,PF,75.79,light rain,-9.8000,-139.0333,Villa Enata
9,Nakamura,JP,77.29,overcast clouds,32.9833,132.9333,Hotel Crown Hills Nakamura
17,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...,...
681,Hami,CN,84.33,scattered clouds,42.8000,93.4500,Laoyutang Resort
683,San Severo,IT,85.60,clear sky,41.6897,15.3760,B&B Palazzo de Matteis
686,Foix,FR,79.77,few clouds,42.8333,1.5833,Résidence Thermale du Parc
688,Pemangkat,ID,76.42,overcast clouds,1.1667,108.9667,Ramah Kost KITA
689,Biltine,TD,83.48,overcast clouds,14.5333,20.9167,Hôtel Trois Étoiles de Biltine

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df[hotel_df["Hotel Name"]!=""]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Buala,SB,79.70,clear sky,-8.1450,159.5921,Maringe Lagoon Lodge
7,Atuona,PF,75.79,light rain,-9.8000,-139.0333,Villa Enata
9,Nakamura,JP,77.29,overcast clouds,32.9833,132.9333,Hotel Crown Hills Nakamura
17,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
21,Puerto Del Rosario,ES,76.75,few clouds,28.5004,-13.8627,Hotel JM Puerto del Rosario
...,...,...,...,...,...,...,...
681,Hami,CN,84.33,scattered clouds,42.8000,93.4500,Laoyutang Resort
683,San Severo,IT,85.60,clear sky,41.6897,15.3760,B&B Palazzo de Matteis
686,Foix,FR,79.77,few clouds,42.8333,1.5833,Résidence Thermale du Parc
688,Pemangkat,ID,76.42,overcast clouds,1.1667,108.9667,Ramah Kost KITA
689,Biltine,TD,83.48,overcast clouds,14.5333,20.9167,Hôtel Trois Étoiles de Biltine

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))